---
import '../../index.css';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Banners from '../components/Banners.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const Layout = BaseLayout;
import ThemeProviderWrapper from '../react/components/ThemeProviderWrapper.tsx';
import Head from '../components/head.astro';
const { title } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <Head title={title} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.logr-in.com/LogRocket.min.js"
      crossorigin="anonymous"></script>
    <script>
      window.LogRocket && window.LogRocket.init('devtoti/arch-epm1n');
    </script>
    <script src="/scripts/logrocket-identify.js" defer></script>
    <script src="/scripts/copyInstallCommand.js" defer></script>
  </head>
  <body class="relative bg-sys-surface-white">
    <ThemeProviderWrapper
      initialTheme="doric"
      initialThemeType="light"
      client:only="react"
    >
      <Layout>
        <Hero />
        <Features />
        <Banners />
      </Layout>
    </ThemeProviderWrapper>

    <style></style>
  </body>
</html>
