---
import LeftHand from './LeftHand.astro';
import RightHand from './RightHand.astro';
import Footer from './Footer.astro';
---

<section
  class="banners w-full min-h-screen col-start-1 col-end-5 text-sys-secondary flex flex-col items-center justify-start gap-sys-sp-lg border-2 border-sys-brd-secondary border-t-0 border-b-0"
>
  <article
    class="cta-banner min-h-[320px] sm:min-h-[420px] lg:min-h-[500px] lg:h-[38vh] lg:max-h-[560px]"
  >
    <div class="cta-banner-info text-white">
      <h2 class="arc-h3 cta-text color-invert">
        <span>ArchUI Figma Kit</span>
      </h2>
      <h3 class="arc-body-0 color-invert">
        <span
          >You can now download our archUI Component Library for free and start
          prototyping using our latest Design System and UI Kit.</span
        >
      </h3>
      <div class="button-wrapper">
        <button
          class="button secondary invert text-sys-primary bg-white px-sys-pd-sm py-sys-pd-xs"
          >View Library</button
        >
      </div>
    </div>
    <div class="illustrations-container">
      <div class="left-hand container active">
        <LeftHand />
      </div>
      <div class="right-hand container active">
        <RightHand />
      </div>
    </div>
  </article>
  <article class="flex flex-col items-center justify-center gap-sys-sp-lg">
    <div class="text-center w-4/5">
      <h3 class="text-sys-primary text-2xl font-bold uppercase">
        Support the Project
      </h3>
      <p>
        We are still in beta, but we'll be happy to have you with us early in
        the game.
      </p>
    </div>
    <div
      class="content__row flex flex-row items-center justify-center gap-sys-sp-sm w-full"
    >
      <hr class="grow-1 border-[1px] border-dashed border-sys-brd-secondary" />
      <div
        class="grow-2 flex-1 inline-flex items-center justify-center bg-white w-max-content rounded-md w-min-40 text-sys-secondary px-sys-pd-sm py-sys-pd-xs"
      >
        Spread the word
      </div>
      <hr class="grow-1 border-[1px] border-dashed border-sys-brd-secondary" />
    </div>
    <div
      class="content__row flex flex-row items-center justify-center gap-sys-sp-sm w-full"
    >
      <hr class="grow-1 border-[1px] border-dashed border-sys-brd-secondary" />
      <div
        class="grow-2 flex-1 inline-flex items-center justify-center bg-white w-max-content rounded-md w-min-40 text-sys-secondary px-sys-pd-sm py-sys-pd-xs"
      >
        Star the project
      </div>
      <hr class="grow-1 border-[1px] border-dashed border-sys-brd-secondary" />
    </div>
    <div
      class="content__row flex flex-row items-center justify-center gap-sys-sp-sm w-full"
    >
      <hr class="grow-1 border-[1px] border-dashed border-sys-brd-secondary" />
      <div
        class="grow-2 flex-1 inline-flex items-center justify-center bg-white w-max-content rounded-md w-min-40 text-sys-secondary px-sys-pd-sm py-sys-pd-xs"
      >
        Send a message
      </div>
      <hr class="grow-1 border-[1px] border-dashed border-sys-brd-secondary" />
    </div>
  </article>
  <Footer />
</section>
<style>
  .cta-banner {
    position: relative;
    background: radial-gradient(#5b60c8, #343fa0 50%, #2a3397 100%);
    grid-column: 1 / -1;
    width: 100%;
    overflow: hidden;
    border: 1.5px solid var(--border-secondary);
    border-left: none;
    border-right: none;
  }
  .cta-banner-info {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem 1rem;
    text-align: center;
    inset: auto;
    gap: 1rem;
    z-index: 10;
    .cta-text {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
    h3 {
      padding-bottom: 0.5rem;
    }
  }
  .button-wrapper {
    width: 100%;
    max-width: 12rem;
  }
  .illustrations-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform-origin: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
    transform: translate(-50%, -20%) scale(1.75) rotate(20deg);
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 1;
  }
  .container {
    position: relative;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  .left-hand,
  .right-hand {
    transition: all 2s ease-in-out;
    opacity: 0.5;
  }
  .left-hand:first-child {
    width: 100%;
    height: fit-content;
    transform: translateX(-20%);
  }
  .right-hand {
    width: 100%;
    height: fit-content;
    transform: translateX(20%);
  }
  .left-hand.active {
    transform: translateX(3%);
    opacity: 1;
  }
  .right-hand.active {
    transform: translateX(0%);
    opacity: 1;
  }
  @media (min-width: 720px) {
    .illustrations-container {
      transform: translate(-45%, -60%) scale(1.2) rotate(10deg) !important;
      align-items: flex-end;
      padding-bottom: 2rem;
    }
    .cta-banner-info {
      justify-content: flex-start;
      margin: 2rem auto 0;
      height: fit-content;
    }
    .cta-banner-info > * {
      display: inline-block;
      width: 50%;
    }
    .button-wrapper {
      max-width: 40ch;
    }
    @media (min-width: 1024px) {
      .illustrations-container {
        transform: translate(-50%, -45%) scale(1) rotate(10deg) !important;
        align-items: flex-end;
        padding-bottom: 2rem;
      }
    }
  }
  :global([data-theme='dark']) {
    .cta-banner {
      background: radial-gradient(#7b81a8, #3a4d8e 50%, #161d4a 100%);
    }
    .illustrations-container {
      mix-blend-mode: screen;
    }
  }
</style>
