<footer
  class="relative w-full col-span-4 md:col-span-8 lg:col-span-12 h-fit max-w-[100svw] pb-4 bg-sys-surface-primary dark:bg-[var(--bg-darksand)] bg-[linear-gradient(to_right,var(--gray-alpha-05)_1px,transparent_1px),linear-gradient(to_bottom,var(--gray-alpha-05)_1px,transparent_1px)] bg-[length:16px_16px] bg-[-5px_-5px]"
>
  <!-- Radial Decoration (Mobile Only) -->
  <div
    class="flex md:hidden justify-center items-center w-[92px] h-[92px] mx-auto"
  >
    <div class="relative w-20 h-20">
      <!-- Concentric circles -->
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center justify-center"
      >
        <div
          class="w-16 h-16 border border-sys-brd-dark rounded-full flex items-center justify-center"
        >
          <div
            class="w-14 h-14 border border-sys-brd-primary rounded-full flex items-center justify-center"
          >
            <div
              class="w-7 h-7 border border-sys-brd-dark rounded-full flex items-center justify-center"
            >
              <span class="text-sys-primary text-sm font-normal">ø</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Lines -->
      <div
        class="absolute top-1/2 left-0 w-9 h-px bg-sys-brd-primary -translate-y-1/2"
      >
      </div>
      <div
        class="absolute top-1/2 right-0 w-9 h-px bg-sys-brd-primary -translate-y-1/2"
      >
      </div>
      <div
        class="absolute left-1/2 top-0 h-9 w-px bg-sys-brd-primary -translate-x-1/2"
      >
      </div>
      <div
        class="absolute left-1/2 bottom-0 h-9 w-px bg-sys-brd-primary -translate-x-1/2"
      >
      </div>
    </div>
  </div>

  <!-- Footer Container -->
  <div
    class="footer-container w-full h-fit pb-4 grid grid-cols-6 gap-0 col-span-4 md:col-span-6 lg:col-span-10 col-start-2 md:col-start-3 lg:col-start-5 md:py-4"
  >
    <!-- Navigation Links -->
    <article
      class="flex flex-row justify-center items-center gap-12 md:gap-20 my-4 w-full border-b border-sys-brd-primary pb-4 col-start-1 -col-end-1 row-start-1"
      role="navigation"
      aria-label="Footer navigation links"
    >
      <!-- Navigation Left -->
      <article
        class="w-[140px] md:text-right"
        role="navigation"
        aria-label="Primary navigation links"
      >
        <ul class="list-none pb-4 flex flex-col justify-center h-full">
          <li>
            <a
              href="/"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-end transition-colors"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/#work-experience"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-end transition-colors"
              >Work Experience</a
            >
          </li>
          <li>
            <a
              href="/#projects"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-end transition-colors"
              >Projects</a
            >
          </li>
          <li>
            <a
              href="/#skills"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-end transition-colors"
              >Skills</a
            >
          </li>
          <li>
            <a
              href="/#services"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-end transition-colors"
              >Services</a
            >
          </li>
        </ul>
      </article>

      <!-- Navigation Right -->
      <article
        class="w-[140px]"
        role="navigation"
        aria-label="Secondary navigation links"
      >
        <ul class="list-none pb-4 flex flex-col justify-center h-full">
          <li>
            <a
              href="/about"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-start transition-colors"
              >Blueprint</a
            >
          </li>
          <li>
            <a
              href="/dev"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-start transition-colors"
              >Development</a
            >
          </li>
          <li>
            <a
              href="/design"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-start transition-colors"
              >Design</a
            >
          </li>
          <li>
            <a
              href="/concept"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-start transition-colors"
              >Concept</a
            >
          </li>
          <li>
            <a
              href="/contact"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-start transition-colors"
              >Contact</a
            >
          </li>
          <li>
            <a
              href="/about"
              class="arc-body-2 text-sys-tertiary dark:text-sys-primary hover:text-sys-primary hover:font-medium no-underline p-0 flex justify-start transition-colors"
              >About</a
            >
          </li>
        </ul>
      </article>
    </article>

    <!-- Plan Info Sections -->
    <!-- Project -->
    <!-- <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full"
    >
      <h6 class="arc-h6 text-sys-primary">project</h6>
      <p class="arc-body-3 text-sys-primary dark:text-sys-primary pb-1">
        Frontend & Design Portfolio
      </p>
    </article> -->

    <!-- Author -->
    <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full"
    >
      <h6 class="arc-h6 text-sys-primary">author</h6>
      <p class="arc-body-3 text-sys-primary dark:text-sys-primary pb-1">
        Antonio Ruiz
      </p>
    </article>

    <!-- Techs -->
    <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full"
    >
      <span class="arc-h6 text-sys-primary">techs</span>
      <p class="arc-body-3 text-sys-primary dark:text-sys-primary pb-1">
        Svelte, TypeScript, Figma
      </p>
    </article>

    <!-- Collaborators -->
    <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full"
    >
      <h6 class="arc-h6 text-sys-primary">collaborators</h6>
      <p class="arc-body-3 text-sys-primary dark:text-sys-primary pb-1">
        @devtoti
      </p>
    </article>

    <!-- ID (A1) -->
    <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full grid place-items-center"
    >
      <h5 class="arc-h0 text-sys-primary dark:text-[var(--bleu-100)] p-0">
        A1
      </h5>
    </article>

    <!-- Location -->
    <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full"
    >
      <h6 class="arc-h6 text-sys-primary">location</h6>
      <p class="arc-body-3 text-sys-primary dark:text-sys-primary pb-1">
        CDMX, México
      </p>
    </article>

    <!-- Scale -->
    <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full min-h-8"
    >
      <h6 class="arc-h6 text-sys-primary">scale</h6>
      <div
        class="grid grid-cols-[1fr_2fr_2.5fr_5fr_10fr] grid-rows-[4px_4px] gap-0 m-0 mx-2 md:mx-1 h-2"
      >
        <div
          class="grid grid-cols-[1fr_2fr_2.5fr_5fr_10fr] min-h-1 col-span-5 row-span-1"
        >
          <span class="arc-h6 bg-sys-brd-primary"></span>
          <span class="arc-h6"></span>
          <span class="arc-h6 bg-sys-brd-primary"></span>
          <span class="arc-h6"></span>
          <span class="arc-h6 bg-sys-brd-primary"></span>
        </div>
        <div
          class="grid grid-cols-[1fr_2fr_2.5fr_5fr_10fr] min-h-1 col-span-5 row-span-1"
        >
          <span class="arc-h6"></span>
          <span class="arc-h6 bg-sys-brd-primary"></span>
          <span class="arc-h6"></span>
          <span class="arc-h6 bg-sys-brd-primary"></span>
          <span class="arc-h6"></span>
        </div>
      </div>
    </article>

    <!-- Version -->
    <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full"
    >
      <h4 class="arc-h3 text-sys-primary font-bold pt-1">V1.1.0</h4>
    </article>

    <!-- Last Update -->
    <article
      class="outline outline-1 outline-sys-brd-primary dark:outline-sys-brd-secondary pl-1 w-full"
    >
      <h6 class="arc-h6 text-sys-primary">last-update</h6>
      <p class="arc-body-3 text-sys-primary dark:text-sys-primary pb-1">
        2025-10-15
      </p>
    </article>
  </div>
</footer>

<style>
  .footer-container {
    grid-template-areas:
      'nav nav nav navR navR navR'
      'nav nav nav navR navR navR'
      'proj proj proj proj proj proj'
      'author author author author author author'
      'techs techs techs techs techs techs'
      'id id id scale scale scale'
      'id id id loc loc loc'
      'id id id v v v'
      'rev rev rev collab collab collab';
  }

  @media (min-width: 480px) {
    .footer-container {
      grid-template-areas:
        'nav nav nav navR navR navR'
        'nav nav nav navR navR navR'
        'proj proj proj author author author'
        'techs techs techs collab collab collab'
        'id id id loc loc rev'
        'id id id scale scale v';
    }
  }

  @media (min-width: 1029px) {
    .footer-container {
      grid-template-areas:
        'nav nav nav navR navR navR'
        'nav nav nav navR navR navR'
        'id proj proj author author techs'
        'id loc loc scale scale scale'
        'id collab collab collab rev v';
    }
  }

  .footer-container > article:nth-child(2) {
    grid-area: nav;
  }

  .footer-container > article:nth-child(3) {
    grid-area: proj;
  }

  .footer-container > article:nth-child(4) {
    grid-area: author;
  }

  .footer-container > article:nth-child(5) {
    grid-area: techs;
  }

  .footer-container > article:nth-child(6) {
    grid-area: collab;
  }

  .footer-container > article:nth-child(7) {
    grid-area: id;
  }

  .footer-container > article:nth-child(8) {
    grid-area: loc;
  }

  .footer-container > article:nth-child(9) {
    grid-area: scale;
  }

  .footer-container > article:nth-child(10) {
    grid-area: v;
  }

  .footer-container > article:nth-child(11) {
    grid-area: rev;
  }
</style>
