---

---

<section
  class="w-full h-screen col-start-1 col-end-5 text-sys-secondary flex flex-col items-center justify-start gap-sys-sp-lg"
>
  <article
    class="w-full flex flex-col items-center justify-center text-center mx-sys-pd-lg"
  >
    <div
      class="arc-body-1 text-white bg-[var(--bleu-7)] px-sys-pd-lg py-sys-pd-sm"
    >
      ArchUI v1.1.0 is an early release. Please note that many features are
      still in the experimental phase.
    </div>
    <nav
      class="bg-sys-surface-primary w-full h-12 shadow-sm flex flex-row items-center justify-center gap-sys-sp-md"
    >
      <div class="desktop hidden display-none">
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
      </div>
      <div
        class="mobile w-full px-sys-pd-lg flex flex-row items-center justify-between gap-sys-sp-md display-block"
      >
        <div class="wrapper w-32 h-full flex items-center justify-center">
          <img
            src="/icons/System/hamburger.svg"
            alt="Hamburger Icon"
            class="w-6 h-6 inline-block mr-auto align-middle"
          />
        </div>
        <img
          src="/icons/System/archUI-logo.svg"
          alt="ArchUI Logo"
          class="h-full inline-block mr-2 align-middle"
        />
        <button
          class="bg-sys-surface-blueprint w-32 border-2 border-sys-brd-accent text-white uppercase font-bold text-xs py-sys-pd-sm px-sys-pd-md rounded-md"
        >
          Get Started
        </button>
      </div>
    </nav>
  </article>
  <article class="mt-sys-sp-lg">
    <div
      class="flex flex-row items-center justify-center gap-sys-sp-md bg-sys-surface-secondary border-2 border-sys-brd-secondary border-dashed px-sys-pd-md py-sys-pd-xs"
    >
      <span class="w-2 h-2 block bg-indigo-500 rounded-full"></span>
      <p>Now in Beta</p>
    </div>
  </article>
  <article class="flex flex-col items-center justify-center gap-sys-sp-md">
    <div
      class="border-2 border-red-200 arch-title text-sys-primary text-6xl font-bold flex flex-row items-center justify-center"
    >
      Arch<span class="text-sys-blueprint text-8xl">UI</span>
    </div>
    <p class="font-lg text-sys-tertiary text-center">
      A React and Tailwind component library inspired by architectural blueprint
      precision.
    </p>
    <div
      class="buttons-wrapper w-full flex flex-col items-center justify-center gap-sys-sp-md"
    >
      <strong
        class="bg-sys-surface-tertiary/40 px-sys-pd-lg py-sys-pd-xs rounded-md"
      >
        <img
          src="/icons/code.svg"
          alt="Code Icon"
          class="w-4 h-4 inline-block mr-2 align-middle"
        />npm install @devtoti/archui-react</strong
      >
      <div
        class="flex w-full flex-row items-center justify-center gap-sys-sp-md"
      >
      </div><button
        class="bg-sys-surface-primary h-12 w-full border-2 border-sys-brd-primary text-sys-txt-primary rounded-md px-2 py-1"
        >Get Started</button
      ><button
        class="w-full h-12 underline underline-offset-4 bg-sys-surface-tertiary/50"
        >Github Repo</button
      >
    </div>
    <div></div>
  </article>
  <article class="hero-images">
    <div class="hero-image-2">
      <img
        src="/images/hero-blueprints.png"
        alt="Hero Blueprint"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="hero-image-1">
      <img
        src="/images/doric-column.svg"
        alt="Doric Column"
        class="w-40 h-full mx-auto object-cover"
      />
    </div>
  </article>
</section>
