---
---
<section>


<div class="relative size-full" data-name="MOBILE-Landing-Light">
  <!-- Background pattern -->
  <div aria-hidden="true" class="absolute inset-0 pointer-events-none">
    <div class="absolute bg-sys-surface-primary inset-0" />
    <div 
      class="absolute bg-repeat bg-[length:20px_20px,8.4px_8.8px] md:bg-[length:20px_20px,8.4px_8.8px] bg-top-left inset-0 opacity-25" 
      style="background-image: url('http://localhost:3845/assets/310cd5ab6cd170e4731b8e545d16ae552c606593.png'), url('http://localhost:3845/assets/d2da503be5e9ab692bf9aa0d017779907e7a5a5a.png')"
    />
  </div>

  <!-- Main container -->
  <div class="absolute flex flex-col items-center justify-center left-1/2 top-0 -translate-x-1/2 w-full md:w-auto">
    <!-- Top section container -->
    <div class="flex flex-col items-start relative shrink-0 w-full md:w-auto">
      <!-- Early release banner -->
      <div class="flex items-center justify-center p-2 relative shrink-0 w-full md:w-[440px] lg:w-full">
        <div aria-hidden="true" class="absolute inset-0 pointer-events-none">
          <img 
            alt="" 
            class="absolute max-w-none object-[50%_50%] object-cover size-full" 
            src="http://localhost:3845/assets/a32883a31ac6bedf288dcd242630092407840f23.png" 
          />
          <div class="absolute bg-sys-txt-secondary inset-0" />
        </div>
        <p class="font-medium leading-normal not-italic relative shrink-0 text-sys-txt-light text-sm md:text-base text-center w-[376px] md:w-auto px-4">
          <span class="font-bold">ArchUI v1.1.0 is an early release. </span>
          <span class="font-normal">Please note that many features are still in the experimental phase.</span>
        </p>
      </div>

      <!-- Navigation bar -->
      <div class="flex items-center justify-between px-4 py-2 shadow-[0px_4px_16px_-8px_rgba(0,0,0,0.1),0px_3px_12px_-4px_rgba(0,0,0,0.1),0px_2px_3px_-2px_rgba(0,0,51,0.06)] shrink-0 sticky top-0 w-full md:w-[440px] lg:w-full lg:px-8 lg:py-4">
        <div aria-hidden="true" class="absolute inset-0 pointer-events-none">
          <div 
            class="absolute inset-0" 
            style="background-image: linear-gradient(90deg, rgb(233, 241, 255) 0%, rgb(233, 241, 255) 100%), linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%)"
          />
          <div 
            class="absolute bg-repeat bg-[length:160px_160px] bg-top-left inset-0 mix-blend-multiply opacity-50" 
            style="background-image: url('http://localhost:3845/assets/15d0e03dfb0be7f3effa59ad65841cde48a6bfde.png')"
          />
        </div>
        
        <!-- Left: Menu icon (mobile) / Logo (desktop) -->
        <div class="flex items-center justify-between pl-[26px] pr-5 py-0 relative shrink-0 w-[268.707px] md:hidden">
          <div class="h-2 relative shrink-0 w-8">
            <div class="absolute inset-[-25%_0_0_0]">
              <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/18e6af06ca5fa93960a5ba03d8a1dc5f21c4a14f.svg" />
            </div>
          </div>
          <div class="shrink-0 size-4" />
        </div>

        <!-- Desktop Logo (left side) -->
        <div class="hidden lg:flex gap-0.5 h-8 items-center justify-center relative shrink-0">
          <p class="font-semibold leading-normal relative shrink-0 text-base text-sys-txt-primary text-center whitespace-nowrap tracking-[1px] uppercase">
            arch
          </p>
          <div class="h-[15px] relative shrink-0 w-[18px]">
            <div class="absolute inset-0" style="--fill-0: rgba(23, 62, 136, 1)">
              <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/8c6050927a6ac7abff28e7aceaecb081ba826ad5.svg" />
            </div>
          </div>
        </div>

        <!-- Center: Logo (mobile) -->
        <div class="absolute flex gap-0.5 h-6 items-center justify-center left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[97.333px] md:hidden">
          <p class="font-semibold leading-normal relative shrink-0 text-[10px] text-sys-txt-primary text-center whitespace-nowrap tracking-[1px] uppercase">
            arch
          </p>
          <div class="h-[11.531px] relative shrink-0 w-[13.54px]">
            <div class="absolute inset-0" style="--fill-0: rgba(23, 62, 136, 1)">
              <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/8c6050927a6ac7abff28e7aceaecb081ba826ad5.svg" />
            </div>
          </div>
          <div class="absolute h-[0.798px] left-[66.96px] top-[6.87px] w-[2.904px]">
            <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/c5aa47a927dd91d1e617b64efb5ffb7fcc17ef6f.svg" />
          </div>
          <div class="absolute bg-sys-txt-primary h-[0.634px] left-[66.83px] rounded-[0.1px] top-[6.23px] w-[3.156px]" />
          <div class="absolute h-[3.125px] left-[61.98px] top-[3.43px] w-[12.854px]">
            <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/c7ac37301b2ef6394f72b0173a5658fe0f5f23b9.svg" />
          </div>
        </div>

        <!-- Right: Get Started button (mobile) / Nav links + Get Started (desktop) -->
        <div class="flex flex-col gap-0 h-6 items-center justify-center min-h-6 min-w-[80px] relative shrink-0 w-[84px] md:hidden">
          <div class="basis-0 border border-sys-brd-primary border-solid flex gap-1 grow items-center justify-center min-h-px min-w-px p-2 relative shrink-0 w-full">
            <div aria-hidden="true" class="absolute inset-0 pointer-events-none">
              <div class="absolute bg-sys-surface-blueprint inset-0" />
              <div 
                class="absolute bg-repeat bg-[length:5px_5px] bg-top-left inset-0 opacity-10" 
                style="background-image: url('http://localhost:3845/assets/1cb7f97923acd23c41e28ff33e6da9a23ca01fcf.png')"
              />
            </div>
            <div class="flex flex-col font-extrabold justify-center leading-none not-italic relative shrink-0 text-[10px] text-sys-txt-light whitespace-nowrap tracking-[1px] uppercase">
              <p class="leading-normal">GET STARTED</p>
            </div>
            <!-- Corner edges -->
            <div class="absolute left-[-3px] size-1 top-[-3px]">
              <div class="absolute bg-sys-icon-light border-0 border-sys-brd-primary border-solid inset-0" />
            </div>
            <div class="absolute right-[-3px] size-1 top-[-3px]">
              <div class="absolute bg-sys-icon-light border-0 border-sys-brd-primary border-solid inset-0" />
            </div>
            <div class="absolute bottom-[-3px] left-[-3px] size-1">
              <div class="absolute bg-sys-icon-light border-0 border-sys-brd-primary border-solid inset-0" />
            </div>
            <div class="absolute bottom-[-3px] right-[-3px] size-1">
              <div class="absolute bg-sys-icon-light border-0 border-sys-brd-primary border-solid inset-0" />
            </div>
          </div>
        </div>

        <!-- Desktop Navigation Links -->
        <div class="hidden lg:flex items-center gap-6 relative shrink-0">
          <a href="#" class="font-normal leading-normal not-italic relative shrink-0 text-sm text-sys-txt-primary text-center whitespace-nowrap hover:underline">
            GITHUB
          </a>
          <a href="#" class="font-normal leading-normal not-italic relative shrink-0 text-sm text-sys-txt-primary text-center whitespace-nowrap hover:underline">
            DOCS
          </a>
          <div class="flex flex-col gap-0 h-8 items-center justify-center min-h-8 min-w-[100px] relative shrink-0">
            <div class="basis-0 border border-sys-brd-primary border-solid flex gap-1 grow items-center justify-center min-h-px min-w-px px-4 py-2 relative shrink-0 w-full">
              <div aria-hidden="true" class="absolute inset-0 pointer-events-none">
                <div class="absolute bg-sys-surface-blueprint inset-0" />
                <div 
                  class="absolute bg-repeat bg-[length:5px_5px] bg-top-left inset-0 opacity-10" 
                  style="background-image: url('http://localhost:3845/assets/1cb7f97923acd23c41e28ff33e6da9a23ca01fcf.png')"
                />
              </div>
              <div class="flex flex-col font-extrabold justify-center leading-none not-italic relative shrink-0 text-xs text-sys-txt-light whitespace-nowrap tracking-[1px] uppercase">
                <p class="leading-normal">GET STARTED</p>
              </div>
              <!-- Corner edges -->
              <div class="absolute left-[-3px] size-1 top-[-3px]">
                <div class="absolute bg-sys-icon-light border-0 border-sys-brd-primary border-solid inset-0" />
              </div>
              <div class="absolute right-[-3px] size-1 top-[-3px]">
                <div class="absolute bg-sys-icon-light border-0 border-sys-brd-primary border-solid inset-0" />
              </div>
              <div class="absolute bottom-[-3px] left-[-3px] size-1">
                <div class="absolute bg-sys-icon-light border-0 border-sys-brd-primary border-solid inset-0" />
              </div>
              <div class="absolute bottom-[-3px] right-[-3px] size-1">
                <div class="absolute bg-sys-icon-light border-0 border-sys-brd-primary border-solid inset-0" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content area -->
    <div class="flex flex-col items-center pb-6 pt-0 px-4 md:px-8 lg:px-16 relative shrink-0 w-full max-w-7xl">
      <!-- Content container with border -->
      <div class="border-sys-brd-secondary border-b-0 border-l-[length:var(--border-sys-lw-bold)] border-r-[length:var(--border-sys-lw-bold)] border-solid border-t-0 flex flex-col gap-4 md:gap-6 lg:gap-8 items-center pb-8 md:pb-12 lg:pb-16 pt-0 px-0 relative shrink-0 w-full">
        <!-- Beta badge section -->
        <div class="flex flex-col items-start pb-4 pt-6 px-0 relative shrink-0">
          <div class="bg-[var(--colors-blue-4,#d5efff)] border border-sys-brd-secondary border-dashed flex gap-2 h-6 items-center justify-center px-2 py-1.5 relative shrink-0">
            <div class="relative shrink-0 size-2">
              <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/3a68f15163f2f7a0d6b2a3fb444ae4d34736ac92.svg" />
            </div>
            <p class="font-normal leading-normal not-italic relative shrink-0 text-sys-txt-secondary text-sm text-center whitespace-nowrap">
              Now in Beta
            </p>
          </div>
        </div>

        <!-- Dimensions indicator (mobile only) -->
        <div class="flex gap-0.5 h-1.5 items-center relative shrink-0 w-[408px] md:hidden">
          <div class="basis-0 grow h-0 min-h-px min-w-px relative shrink-0">
            <div class="absolute inset-[-2.21px_0_-2.21px_-0.16%]" style="--stroke-0: rgba(62, 99, 221, 1)">
              <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/030801ff6f11977d415978c44f7f67c09366b8f7.svg" />
            </div>
          </div>
          <div class="flex flex-col font-normal justify-center leading-none relative shrink-0 text-[10px] text-[color:var(--colors-indigo-11,#3a5bc7)] text-center whitespace-nowrap">
            <p class="leading-normal">408px</p>
          </div>
          <div class="basis-0 grow h-0 min-h-px min-w-px relative shrink-0">
            <div class="absolute inset-[-2.21px_-0.16%_-2.21px_0]" style="--stroke-0: rgba(62, 99, 221, 1)">
              <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/87e8f8cc1dfb719c4ecdf081e0197927fd8554f6.svg" />
            </div>
          </div>
        </div>

        <!-- Logo and description -->
        <div class="flex flex-col gap-2 md:gap-4 lg:gap-6 items-center relative shrink-0 w-full">
          <!-- React Logo (desktop) -->
          <div class="hidden lg:block mb-4">
            <!-- React logo placeholder - you'll need to add the actual React logo SVG here -->
            <div class="w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 relative">
              <!-- React atom logo would go here -->
            </div>
          </div>
          <div class="flex gap-3 md:gap-4 lg:gap-6 items-center justify-center relative shrink-0">
            <p class="font-semibold leading-normal relative shrink-0 text-[60px] md:text-[80px] lg:text-[100px] text-sys-txt-primary text-center whitespace-nowrap tracking-[6px] md:tracking-[8px] lg:tracking-[10px] uppercase">
              arch
            </p>
            <div class="h-[69.188px] md:h-[92px] lg:h-[115px] relative shrink-0 w-[81.242px] md:w-[108px] lg:w-[135px]">
              <div class="absolute inset-0" style="--fill-0: rgba(23, 62, 136, 1)">
                <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/c3f2450d00e94bc5612feaa6d5dc9bb032f0d40e.svg" />
              </div>
            </div>
            <div class="absolute h-[4.789px] md:h-[6.4px] lg:h-[8px] left-[232.97px] md:left-[310px] lg:left-[387px] top-[3.21px] md:top-[4.3px] lg:top-[5.4px] w-[17.425px] md:w-[23px] lg:w-[29px]">
              <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/0d85a2f6aa7a47ff9bd089e47ab0f7ed5ad53d61.svg" />
            </div>
            <div class="absolute bg-sys-txt-primary h-[3.806px] md:h-[5px] lg:h-[6.3px] left-[232.21px] md:left-[309px] lg:left-[386px] rounded-[0.6px] top-[-0.59px] md:top-[-0.8px] lg:top-[-1px] w-[18.935px] md:w-[25px] lg:w-[31px]" />
          </div>
          <div class="font-normal leading-normal min-w-full not-italic relative shrink-0 text-sm md:text-base lg:text-lg text-sys-txt-secondary text-center w-[min-content]">
            <p class="mb-0">A React and Tailwind component library </p>
            <p>inspired by architectural blueprint precision.</p>
          </div>
          <!-- Version chip -->
          <div class="absolute bg-sys-surface-secondary border-[0.5px] border-sys-brd-secondary border-solid flex items-center justify-center left-[338.5px] md:left-[450px] lg:left-[562px] px-1.5 md:px-2 lg:px-2.5 py-0.5 md:py-1 lg:py-1 rounded-md md:rounded-lg top-[29.19px] md:top-[39px] lg:top-[49px]">
            <div class="flex flex-col font-bold justify-center leading-none not-italic relative shrink-0 text-sys-txt-blueprint text-[10px] md:text-xs lg:text-sm text-center whitespace-nowrap">
              <p class="leading-normal">v1.1.0</p>
            </div>
          </div>
        </div>

        <!-- Command line -->
        <div class="bg-sys-surface-tertiary flex gap-2 md:gap-3 lg:gap-4 items-end justify-center px-2 md:px-4 lg:px-6 py-0.5 md:py-1 lg:py-1.5 relative shrink-0">
          <div class="relative shrink-0 size-4 md:size-5 lg:size-6">
            <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/e0fdb4f86c4d27dc763026de4371731bb737a105.svg" />
          </div>
          <p class="font-bold leading-normal not-italic relative shrink-0 text-xs md:text-sm lg:text-base text-sys-txt-primary text-center whitespace-nowrap">
            npm install @devtoti/archui-react
          </p>
        </div>

        <!-- Get Started button -->
        <div class="flex flex-col gap-0 h-8 md:h-10 lg:h-12 items-center justify-center min-h-8 md:min-h-10 lg:min-h-12 min-w-[80px] relative shrink-0 w-full md:w-auto md:min-w-[120px] lg:min-w-[150px]">
          <div class="basis-0 border border-sys-brd-secondary border-solid flex gap-2 grow items-center justify-center min-h-px min-w-px pl-2 md:pl-4 lg:pl-6 pr-4 md:pr-6 lg:pr-8 py-2 md:py-3 lg:py-4 relative shrink-0 w-full md:w-auto">
            <div aria-hidden="true" class="absolute inset-0 pointer-events-none">
              <div class="absolute bg-[#3e63dd] inset-0" />
              <div 
                class="absolute bg-repeat bg-[length:5px_5px] bg-top-left inset-0 opacity-10" 
                style="background-image: url('http://localhost:3845/assets/1cb7f97923acd23c41e28ff33e6da9a23ca01fcf.png')"
              />
            </div>
            <div class="opacity-0 overflow-clip relative shrink-0 size-4">
              <div class="absolute left-1/2 size-4 top-1/2 -translate-x-1/2 -translate-y-1/2">
                <div class="absolute inset-0" style="--fill-0: rgba(231, 237, 255, 1)">
                  <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/23241987be45bd7521f3cdc01a38f95546a79c5b.svg" />
                </div>
              </div>
            </div>
            <div class="flex flex-col font-extrabold justify-center leading-none not-italic relative shrink-0 text-sm md:text-base lg:text-lg whitespace-nowrap text-white tracking-[1.4px] md:tracking-[1.6px] lg:tracking-[1.8px] uppercase">
              <p class="leading-normal">GET STARTED</p>
            </div>
            <div class="overflow-clip relative shrink-0 size-4">
              <div class="absolute left-1/2 size-4 top-1/2 -translate-x-1/2 -translate-y-1/2">
                <div class="absolute inset-0" style="--fill-0: rgba(231, 237, 255, 1)">
                  <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/d53144ffa2fbb3aa0320790c810e79124f744497.svg" />
                </div>
              </div>
            </div>
            <!-- Corner edges -->
            <div class="absolute left-[-3px] size-1 top-[-3px]">
              <div class="absolute bg-sys-icon-light border-0 border-sys-brd-secondary border-solid inset-0" />
            </div>
            <div class="absolute right-[-3px] size-1 top-[-3px]">
              <div class="absolute bg-sys-icon-light border-0 border-sys-brd-secondary border-solid inset-0" />
            </div>
            <div class="absolute bottom-[-3px] left-[-3px] size-1">
              <div class="absolute bg-sys-icon-light border-0 border-sys-brd-secondary border-solid inset-0" />
            </div>
            <div class="absolute bottom-[-3px] right-[-3px] size-1">
              <div class="absolute bg-sys-icon-light border-0 border-sys-brd-secondary border-solid inset-0" />
            </div>
          </div>
        </div>

        <!-- GitHub Repo button -->
        <div 
          class="bg-repeat bg-[length:20px_4px] bg-top-left border-[0px_0px_1px] border-sys-brd-secondary border-solid flex gap-2 h-8 md:h-10 lg:h-12 items-center justify-center min-h-8 md:min-h-10 lg:min-h-12 min-w-[80px] pl-1 md:pl-2 lg:pl-3 pr-3 md:pr-4 lg:pr-6 py-3 md:py-4 lg:py-5 relative shrink-0 w-full md:w-auto md:min-w-[120px] lg:min-w-[150px]" 
          style="background-image: url('http://localhost:3845/assets/7b332a04009e1f1ca447ca1abc0350d6e96c2b37.png')"
        >
          <div class="opacity-0 overflow-clip relative shrink-0 size-4">
            <div class="absolute h-[15.113px] left-1/2 top-[calc(50%-0.19px)] -translate-x-1/2 -translate-y-1/2 w-[15.5px]">
              <div class="absolute inset-0" style="--fill-0: rgba(23, 62, 136, 1)">
                <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/ff1581904500e8916a0ad991ce2c773cf9a86e7a.svg" />
              </div>
            </div>
          </div>
          <div class="flex flex-col font-extrabold justify-center leading-none not-italic relative shrink-0 text-sm md:text-base lg:text-lg text-sys-txt-primary text-center whitespace-nowrap tracking-[1.4px] md:tracking-[1.6px] lg:tracking-[1.8px] uppercase">
            <p class="leading-normal">GITHUB REPO</p>
          </div>
          <div class="overflow-clip relative shrink-0 size-4">
            <div class="absolute h-[15.113px] left-1/2 top-[calc(50%-0.19px)] -translate-x-1/2 -translate-y-1/2 w-[15.5px]">
              <div class="absolute inset-0" style="--fill-0: rgba(23, 62, 136, 1)">
                <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/ff1581904500e8916a0ad991ce2c773cf9a86e7a.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Architectural column section -->
      <div class="border-[0px_1.5px] border-sys-brd-secondary border-solid flex flex-col items-center justify-center pb-0 pt-20 md:pt-32 lg:pt-40 px-0 relative shrink-0 w-full">
        <!-- Image -->
        <div class="flex items-start relative shrink-0 w-full">
          <div class="h-[129px] md:h-[200px] lg:h-[300px] relative shrink-0 w-full md:w-[600px] lg:w-[800px]">
            <img 
              alt="" 
              class="absolute inset-0 max-w-none object-[50%_50%] object-cover pointer-events-none size-full" 
              src="http://localhost:3845/assets/c261ea4f0e44c5c907b8c9b4c7a3f588934457b8.png" 
            />
          </div>
        </div>

        <!-- Column illustration -->
        <div class="grid-cols-[max-content] grid-rows-[max-content] inline-grid leading-none place-items-start relative shrink-0">
          <div class="[grid-area:1_/_1] flex flex-col h-[779px] items-center ml-0 mt-0 relative w-[194.062px]">
            <div class="border-[0.597px] border-sys-icon-primary border-solid h-[7.187px] rounded-[179.507px] shrink-0 w-[136.562px]" />
            <div class="border-[0.597px] border-sys-icon-primary border-solid h-[3.594px] rounded-[3.594px] shrink-0 w-[126.338px]" />
            <div class="border-[0.597px] border-sys-icon-primary border-solid h-[14.375px] rounded-[1.797px] shrink-0 w-[121.499px]" />
            <div class="border-[0.597px] border-sys-icon-primary border-solid h-[10.781px] rounded-bl-[35.937px] rounded-br-[35.937px] shrink-0 w-[113.107px]" />
            <div class="border-[0.597px] border-sys-icon-primary border-solid h-[8.625px] rounded-bl-[5.391px] rounded-br-[5.391px] shrink-0 w-[93.98px]" />
            <div class="border-[0.597px] border-sys-icon-primary border-solid h-[11.404px] shrink-0 w-[83.992px]" />
            <div class="border-[0.597px] border-sys-icon-primary border-solid h-[7.187px] rounded-[179.507px] shrink-0 w-[90.556px]" />
            <div class="h-[708.658px] relative shrink-0 w-[106.377px]">
              <div class="absolute inset-[-0.04%_-0.29%]">
                <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/7b44cf00ff74256a4cfd6ffc538dc2a27f6e3c2c.svg" />
              </div>
            </div>
            <div class="border-[0.597px] border-sys-icon-primary border-solid h-[7.187px] rounded-[179.507px] shrink-0 w-[122.895px]" />
          </div>
          <div class="[grid-area:1_/_1] h-[778.993px] ml-[29.85px] mt-0 relative w-[136.562px]">
            <div class="absolute inset-[-0.11%_-0.66%]">
              <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/78803c0f07229db59870552d8374393b2645064f.svg" />
            </div>
          </div>
        </div>

        <!-- Annotation -->
        <div class="absolute contents left-[calc(50%+0.5px)] top-[-0.19px] -translate-x-1/2">
          <div class="absolute bg-sys-surface-primary border-[1.5px] border-sys-brd-secondary border-solid flex flex-col gap-6 items-center justify-center left-[180.5px] p-3 rounded-[297px] size-12 top-[-0.19px]">
            <div class="absolute flex h-[12.75px] items-center justify-center left-1/2 top-[calc(50%-29.63px)] -translate-x-1/2 -translate-y-1/2 w-0">
              <div class="flex-none rotate-90">
                <div class="h-0 relative w-[12.75px]">
                  <div class="absolute inset-[-0.75px_0]" style="--fill-0: rgba(23, 62, 136, 1); --stroke-0: rgba(53, 97, 185, 1)">
                    <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/ef00d6d839d1b00e8c6b8544ee935460d5d201ab.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="absolute flex h-[12.75px] items-center justify-center left-1/2 top-[calc(50%+30.37px)] -translate-x-1/2 -translate-y-1/2 w-0">
              <div class="flex-none rotate-90">
                <div class="h-0 relative w-[12.75px]">
                  <div class="absolute inset-[-0.75px_0]" style="--fill-0: rgba(23, 62, 136, 1); --stroke-0: rgba(53, 97, 185, 1)">
                    <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/ef00d6d839d1b00e8c6b8544ee935460d5d201ab.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="absolute h-0 left-[calc(50%+29.63px)] top-1/2 -translate-x-1/2 -translate-y-1/2 w-[12.75px]">
              <div class="absolute inset-[-0.75px_0]" style="--fill-0: rgba(23, 62, 136, 1); --stroke-0: rgba(53, 97, 185, 1)">
                <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/bcbbea2bf3f8b2bd83911f4e3c48c37f3480452b.svg" />
              </div>
            </div>
            <div class="absolute h-0 right-[45.75px] top-1/2 -translate-y-1/2 w-[12.75px]">
              <div class="absolute inset-[-0.75px_0]" style="--fill-0: rgba(23, 62, 136, 1); --stroke-0: rgba(53, 97, 185, 1)">
                <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/bcbbea2bf3f8b2bd83911f4e3c48c37f3480452b.svg" />
              </div>
            </div>
            <p class="font-bold leading-normal not-italic relative shrink-0 text-xl text-sys-txt-primary text-center whitespace-nowrap tracking-[0.4px] uppercase">
              A
            </p>
          </div>
          <div class="absolute flex h-[150px] items-center justify-center left-[calc(50%-0.5px)] top-[60.81px] -translate-x-1/2 w-0">
            <div class="flex-none rotate-90">
              <div class="h-0 relative w-[150px]">
                <div class="absolute inset-[-1px_0_0_0]" style="--stroke-0: rgba(53, 97, 185, 1)">
                  <img alt="" class="block max-w-none size-full" src="http://localhost:3845/assets/5a4132286cf2a15ef2f1e8ca7adf44cdfbf60c39.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>