.corinthian {
  font-family: 'Lato', system-ui, -apple-system, sans-serif;
  --corinthian-accent-primary: var(--jade-9);
  --corinthian-accent-dark: var(--jade-11);
  --corinthian-accent-light: var(--jade-5);

  --bg-primary: var(--olive-1);
  --bg-secondary: var(--olive-2);
  --bg-tertiary: var(--gray-3);
  --bg-accent-dark: var(--corinthian-accent-dark);
  --bg-accent: var(--corinthian-accent-primary);
  --bg-accent-light: var(--corinthian-accent-light);
  --bg-light: #F2F7FF;
  --bg-sunken-1: rgba(39, 45, 57, 0.1);
  --bg-sunken-2: rgba(39, 45, 57, 0.2);
  --bg-sunken-3: rgba(39, 45, 57, 0.5);
  --bg-sunken-4: rgba(39, 45, 57, 0.7);

  /* Foreground */
  --fg-primary: #FDFDFC;
  --fg-secondary: #F9F9F8;
  --fg-tertiary: #F1F0EF;
  --fg-accent: rgba(0, 163, 70, 0.04313725605607033);
  --fg-raised-1: rgba(255, 255, 255, 0.1);
  --fg-raised-2: rgba(255, 255, 255, 0.3);
  --fg-raised-3: rgba(255, 255, 255, 0.5);

  /* Text */
  --txt-primary: var(--olive-12);
  --txt-secondary: var(--olive-10);
  --txt-tertiary: var(--olive-8);
  --txt-light: #FFFFFF;
  --txt-accent-dark: var(--corinthian-accent-dark);
  --txt-accent: var(--corinthian-accent-primary);
  --txt-accent-light: var(--jade-7);

  /* Semantic Background */
  --sem-bg-success: var(--green-1);
  --sem-bg-info: var(--indigo-1);
  --sem-bg-warning: var(--yellow-1);
  --sem-bg-error: var(--red-1);

  /* Semantic Icons */
  --sem-icons-success: var(--green-11);
  --sem-icons-info: var(--blue-11);
  --sem-icons-warning: var(--yellow-11);
  --sem-icons-error: var(--red-11);

  /* Semantic Text */
  --sem-txt-success: var(--green-11);
  --sem-txt-info: var(--blue-11);
  --sem-txt-warning: var(--yellow-11);
  --sem-txt-error: var(--red-11);

  /* Semantic Border */
  --sem-brd-success: var(--green-11);
  --sem-brd-info: var(--blue-11);
  --sem-brd-warning: var(--yellow-11);
  --sem-brd-error: var(--red-11);

  /* Brand */
  --brand-primary: #FFBF49;
  --brand-light: #F6D970;
  --brand-dark: #F6B501;
  --brand-accent: #CB3F42;

  /* Borders */
  --brd-primary: var(--olive-9);
  --brd-secondary: var(--olive-8);
  --brd-tertiary: var(--olive-7);
  --brd-accent-dark: var(--corinthian-accent-dark);
  --brd-accent: var(--corinthian-accent-primary);
  --brd-accent-light: var(--jade-7);
  --brd-light: var(--olive-3);
  --brd-dark: var(--olive-12);

  /* Radii */
  --rd-xs: 0.125rem;
  --rd-sm: 0.25rem;
  --rd-md: 0.375rem;
  --rd-lg: 0.5rem;
  --rd-xl: 0.625rem;
  --rd-full: 9999px;

  /* Icons */
  --icon-accent: var(--corinthian-accent-dark);
  --icon-primary: var(--olive-12);
  --icon-secondary: var(--olive-10);
  --icon-tertiary: var(--olive-8);
  --icon-light: #F2F7FF;
  --icon-dark: #2D3341;

  /* Padding */
  --pd-xs: 0.375rem;
  --pd-sm: 0.625rem;
  --pd-md: 0.75rem;
  --pd-lg: 1.125rem;
  --pd-xl: 1.375rem;
  --pd-2xl: 1.625rem;
  --pd-3xl: 2rem;

  /* Stroke */
  --stroke-extra-light: 0.3px;
  --stroke-light: 0.5px;
  --stroke-regular: 1px;
  --stroke-bold: 1.5px;
  --stroke-extra-bold: 4px;

  /* Spacing */
  --sp-3xs: 0.0625rem;
  --sp-2xs: 0.125rem;
  --sp-xs: 0.25rem;
  --sp-sm: 0.5rem;
  --sp-md: 0.75rem;
  --sp-lg: 1rem;
  --sp-xl: 1.25rem;
  --sp-2xl: 1.5rem;
  --sp-3xl: 2rem;
  --sp-4xl: 2.5rem;
  --sp-5xl: 3rem;
  --sp-6xl: 3.75rem;
}
