.doric {
  font-family: 'Barlow', system-ui, -apple-system, sans-serif;
  --doric-accent-primary: var(--orange-9);
  --doric-accent-dark: var(--orange-11);
  --doric-accent-light: var(--orange-5);
  /* Background */
  --bg-primary: var(--slate-1);
  --bg-secondary: var(--slate-2);
  --bg-tertiary: var(--slate-3);
  --bg-accent-dark: var(--doric-accent-dark);
  --bg-accent: var(--doric-accent-primary);
  --bg-accent-light: var(--doric-accent-light);
  --bg-light: #F2F7FF;
  --bg-sunken-1: rgba(39, 45, 57, 0.1);
  --bg-sunken-2: rgba(39, 45, 57, 0.2);
  --bg-sunken-3: rgba(39, 45, 57, 0.5);
  --bg-sunken-4: rgba(39, 45, 57, 0.7);

  /* Foreground */
  --fg-primary: #FDFDFC;
  --fg-secondary: #F9F9F8;
  --fg-tertiary: #F1F0EF;
  --fg-accent: rgba(255, 142, 0, 0.07058823853731155);
  --fg-raised-1: rgba(255, 255, 255, 0.1);
  --fg-raised-2: rgba(255, 255, 255, 0.3);
  --fg-raised-3: rgba(255, 255, 255, 0.5);

  /* Text */
  --txt-primary: var(--slate-12);
  --txt-secondary: var(--slate-11);
  --txt-tertiary: var(--slate-10);
  --txt-light: #FFFFFF;
  --txt-accent-dark: var(--doric-accent-dark);
  --txt-accent: var(--doric-accent-primary);
  --txt-accent-light: var(--orange-7);

  /* Semantic Background */
  --sem-bg-success: var(--grass-1);
  --sem-bg-info: var(--cyan-1);
  --sem-bg-warning: var(--yellow-1);
  --sem-bg-danger: var(--red-1);

  /* Semantic Icons */
  --sem-icons-success: #30A46C;
  --sem-icons-info: #0090FF;
  --sem-icons-warning: #B78001;
  --sem-icons-danger: #E5484D;

  /* Semantic Text */
  --sem-txt-success: #0D854B;
  --sem-txt-info: #09558F;
  --sem-txt-warning: #997012;
  --sem-txt-danger: #BF3539;

  /* Semantic Border */
  --sem-brd-success: #62A379;
  --sem-brd-info: #8ABADD;
  --sem-brd-warning: #BEAA44;
  --sem-brd-danger: #B26466;

  /* Brand */
  --brand-primary: #AD3E28;
  --brand-light: #E85639;
  --brand-dark: #5A190C;
  --brand-accent: #A15828;

  /* Borders */
  --brd-primary: var(--sand-11);
  --brd-secondary: var(--sand-10);
  --brd-tertiary: var(--sand-9);
  --brd-accent-dark: var(--doric-accent-dark);
  --brd-accent: var(--doric-accent-primary);
  --brd-accent-light: var(--orange-7);
  --brd-light: var(--sand-3);
  --brd-dark: var(--sand-12);

  /* Radii */
  --rd-xs: 0;
  --rd-sm: 0;
  --rd-md: 0;
  --rd-lg: 0;
  --rd-xl: 0;
  --rd-full: 9999px;

  /* Icons */
  --icon-accent: var(--doric-accent-dark);
  --icon-primary: var(--slate-12);
  --icon-secondary: var(--slate-11);
  --icon-tertiary: var(--slate-10);
  --icon-light: #F2F7FF;
  --icon-dark: #2D3341;

  /* Padding */
  --pd-xs: 0.25rem;
  --pd-sm: 0.5rem;
  --pd-md: 0.625rem;
  --pd-lg: 1rem;
  --pd-xl: 1.25rem;
  --pd-2xl: 1.5rem;
  --pd-3xl: 1.75rem;

  /* Stroke */
  --stroke-extra-light: 0.5px;
  --stroke-light: 1px;
  --stroke-regular: 1.5px;
  --stroke-bold: 2px;
  --stroke-extra-bold: 2px;

  /* Spacing */
  --sp-3xs: 0.0625rem;
  --sp-2xs: 0.125rem;
  --sp-xs: 0.25rem;
  --sp-sm: 0.5rem;
  --sp-md: 0.75rem;
  --sp-lg: 1rem;
  --sp-xl: 1.25rem;
  --sp-2xl: 1.5rem;
  --sp-3xl: 2rem;
  --sp-4xl: 2.5rem;
  --sp-5xl: 3rem;
  --sp-6xl: 3.75rem;
}
