.ionic {
  font-family: 'Noto Sans', system-ui, -apple-system, sans-serif;
  --ionic-accent-primary: var(--blue-10);
  --ionic-accent-dark: var(--blue-11);
  --ionic-accent-light: var(--blue-6);

  /* Background */
  --bg-primary: var(--gray-1);
  --bg-secondary: var(--gray-2);
  --bg-tertiary: var(--gray-3);
  --bg-accent-dark: var(--ionic-accent-dark);
  --bg-accent: var(--ionic-accent-primary);
  --bg-accent-light: var(--ionic-accent-light);
  --bg-light: #F2F7FF;
  --bg-sunken-1: rgba(39, 45, 57, 0.1);
  --bg-sunken-2: rgba(39, 45, 57, 0.2);
  --bg-sunken-3: rgba(39, 45, 57, 0.5);
  --bg-sunken-4: rgba(39, 45, 57, 0.7);

  /* Foreground */
  --fg-primary: #FDFDFC;
  --fg-secondary: #F9F9F8;
  --fg-tertiary: #F1F0EF;
  --fg-accent: rgba(0, 64, 255, 0.0313725508749485);
  --fg-raised-1: rgba(255, 255, 255, 0.1);
  --fg-raised-2: rgba(255, 255, 255, 0.3);
  --fg-raised-3: rgba(255, 255, 255, 0.5);

  /* Text */
  --txt-primary: var(--gray-12);
  --txt-secondary: var(--gray-11);
  --txt-tertiary: var(--gray-10);
  --txt-light: #FFFFFF;
  --txt-accent-dark: var(--ionic-accent-dark);
  --txt-accent: var(--ionic-accent-primary);
  --txt-accent-light: var(--indigo-7);

  /* Semantic Background */
  --sem-bg-success: #E9FFF0;
  --sem-bg-info: #EAF7FF;
  --sem-bg-warning: #FFFEF2;
  --sem-bg-error: #FFEDED;

  /* Semantic Icons */
  --sem-icons-success: #30A46C;
  --sem-icons-info: #0090FF;
  --sem-icons-warning: #B78001;
  --sem-icons-error: #E5484D;

  /* Semantic Text */
  --sem-txt-success: #0D854B;
  --sem-txt-info: #09558F;
  --sem-txt-warning: #997012;
  --sem-txt-error: #BF3539;

  /* Semantic Border */
  --sem-brd-success: #62A379;
  --sem-brd-info: #8ABADD;
  --sem-brd-warning: #BEAA44;
  --sem-brd-error: #B26466;

  /* Brand */
  --brand-primary: #FFBF49;
  --brand-light: #F6D970;
  --brand-dark: #F6B501;
  --brand-accent: #CB3F42;

  /* Borders */
  --brd-primary: var(--slate-9);
  --brd-secondary: var(--slate-8);
  --brd-tertiary: var(--slate-6);
  --brd-accent-dark: var(--ionic-accent-dark);
  --brd-accent: var(--ionic-accent-primary);
  --brd-accent-light: var(--indigo-7);
  --brd-light: var(--gold-3);
  --brd-dark: var(--gold-12);

  /* Radii */
  --rd-xs: 0.375rem;
  --rd-sm: 0.75rem;
  --rd-md: 1rem;
  --rd-lg: 1.25rem;
  --rd-xl: 1.5rem;
  --rd-full: 9999px;

  /* Icons */
  --icon-accent: var(--ionic-accent-dark);
  --icon-primary: var(--gray-12);
  --icon-secondary: var(--gray-11);
  --icon-tertiary: var(--gray-10);
  --icon-light: #F2F7FF;
  --icon-dark: #2D3341;

  /* Padding */
  --pd-xs: 0.5rem;
  --pd-sm: 0.75rem;
  --pd-md: 1rem;
  --pd-lg: 1.25rem;
  --pd-xl: 1.5rem;
  --pd-2xl: 1.75rem;
  --pd-3xl: 2.25rem;

  /* Stroke */
  --stroke-extra-light: 0.3px;
  --stroke-light: 0.5px;
  --stroke-regular: 1px;
  --stroke-bold: 1.5px;
  --stroke-extra-bold: 4px;

  /* Spacing */
  --sp-3xs: 0.0625rem;
  --sp-2xs: 0.125rem;
  --sp-xs: 0.25rem;
  --sp-sm: 0.5rem;
  --sp-md: 0.75rem;
  --sp-lg: 1rem;
  --sp-xl: 1.25rem;
  --sp-2xl: 1.5rem;
  --sp-3xl: 2rem;
  --sp-4xl: 2.5rem;
  --sp-5xl: 3rem;
  --sp-6xl: 3.75rem;

  /* Shadows - Most Notable */
  --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-regular: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  /* SUPER OBVIOUS DEBUG SHADOW */
  --shadow-dark: 0 0 0 8px rgba(255,0,0,1), 0 0 0 16px rgba(0,0,255,0.6), 0 30px 30px 0 rgba(0, 0, 0, 1);
}
