@import "tailwindcss";
@import "./tokens.css";
@custom-variant doric (&:where(.doric, .doric *));
@custom-variant ionic (&:where(.ionic, .ionic *));
@custom-variant corinthian (&:where(.corinthian, .corinthian *));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}