@import "tailwindcss";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-alpha.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/jade-alpha.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-alpha.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/yellow.css";

@import "./tokens/ionic.css";
@import "./tokens/corinthian.css";
@import "./tokens/doric.css";

@import "./tokens/archui-color-palette.css";
@import "./tokens/archui-system-tokens.css";
